<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="./styles/reset.css" />
		<link rel="stylesheet" href="./styles/base.css" />
		<link rel="stylesheet" href="./styles/layout.css" />
		<link rel="stylesheet" href="./styles/modules.css" />
		<title>Book Collection</title>
	</head>
	<body>
		<header>
			<a href="/">Home</a>
		</header>
		<main>
			<h4>Favorite Book</h4>
			<ul>
				<section>
					<li><p><%= value.img_url %></p></li>
					<li><p><%= value.title %></p></li>
					<li><h2><%= value.author %></h2></li>
					<li><h2><%= value.description %></h2></li>
					<li><h2><%= value.isbn %></h2></li>
				</section>
			</ul>
		</main>
	</body>
</html>
