<!DOCTYPE html>
<html lang="en">
	<head>
			<%- include('../../layout/head') %>
		<title>Book Collection</title>
	</head>
	<body>
		<header>
			<%- include('../../layout/header') %></header>
		<main>
			<div class="books">
				<ul>
					<% bookResults.forEach(book => { %>
						<section>
					<li class="book"><img src="<%= book.image %>" /></li>
					<li class="title"><h1><%= book.title %></li>
					<li class="author"><h3><%= book.author %></h3></li>
					<li class="description"><p><%= book.description %></p></li>
				
					<form  id="create-form" action="/books" method="post">
					<fieldset>
					
						<%- include('../books/edit', {value:book}) %>
						<button type="submit">Add to Favorites</button>
					  </fieldset>
					  </form>
				</section>
					<% }) %>
				</ul>
			</div>
		</main>
	</body>
	<footer>
		<%- include('../../layout/footer') %>
	</footer>
</html>
