<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="./styles/reset.css" />
		<link rel="stylesheet" href="./styles/base.css" />
		<link rel="stylesheet" href="./styles/layout.css" />
		<link rel="stylesheet" href="./styles/modules.css" />
		<title>Book Collection</title>
		<link href="base.css" rel="stylesheet" />
	</head>
	<body>
		<header><%- include('../layout/header') %></header>
		<main>
			<p><%= value.length %></p>
			<h4>Saved Books</h4>
			<ul>
				<% value.forEach(book => { %>
				<section>
					<li class="book"><img src="<%= book.img_url %>" alt="" /></li>
					<li><h1><%= book.title %></h1></li>
					<li><h3><%= book.author %></h3></li>
					<li><a href="/books/<%= book.id %>">View Details</a></li>
				</section>
				<%})%>
			</ul>
		</main>
	</body>
</html>
